body {
  background-color: rgb(18, 18, 18);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.control {
  border: rgb(107, 171, 255) 1px solid;
  margin-right: 100px;
  padding: 20px;
}

.checkboxContainer label {
  color: rgb(31, 135, 255);
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#checkbox {
  width: 16px;
  height: 16px;
}

.options label {
  color: rgb(31, 135, 255);
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.generateButton {
  background-color: rgb(27, 255, 179);
  color: white;
  padding: 5px 15px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 24px;
  border: none;
  margin-top: 20px;
}

.generateButton:hover {
  background-color: rgb(0, 215, 143);
}

.canvasContainer {
  position: relative;
}

#canvas {
  border: rgb(107, 171, 255) 1px solid;
}

.verticalLine {
  position: absolute;
  width: 1px;
  height: 602px;
  background-color: rgb(255, 158, 249);
  display: none;
  top: 0;
  left: 300px;
}

.horizontalLine {
  position: absolute;
  width: 602px;
  height: 1px;
  background-color: rgb(255, 158, 249);
  display: none;
  top: 300px;
  left: 0;
}
