body {
  background-color: rgb(18, 18, 18);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.control {
  border: rgb(107, 171, 255) 1px solid;
  margin-right: 100px;
  padding: 20px;
}

.checkboxContainer label {
  color: rgb(31, 135, 255);
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#checkbox {
  width: 16px;
  height: 16px;
}

.options label {
  color: rgb(31, 135, 255);
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.generateButton {
  background-color: rgb(12, 147, 209);
  color: white;
  padding: 5px 15px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 18px;
  border: none;
  margin-top: 20px;
  margin-right: 10px;
}

.generateButton:hover {
  background-color: rgb(47, 189, 255);
}
.downloadButton {
  background-color: rgb(154, 47, 255);
  color: white;
  padding: 5px 15px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 18px;
  border: none;
  margin-top: 20px;
}

.downloadButton:hover {
  background-color: rgb(173, 86, 255);
}

.canvasContainer {
  position: relative;
}

#canvas {
  border: rgb(107, 171, 255) 1px solid;
}

.verticalLine {
  position: absolute;
  width: 1px;
  height: 602px;
  background-color: rgb(0, 255, 170);
  display: none;
  top: 0;
  left: 300px;
}

.horizontalLine {
  position: absolute;
  width: 602px;
  height: 1px;
  background-color: rgb(0, 255, 170);
  display: none;
  top: 300px;
  left: 0;
}
